<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://docs.google.com/document/d/1bPw-bFSyF7fbeqNM--R-1A2ekcJFIhR12l-mwASm6os/edit?usp=sharing" class="navbar-brand">Prueba PT</a></div>
       

        <ul class="navbar-nav">
            <li><a  class="nav-link" routerLink="/shop"  >Shop</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/admin/users" class="dropdown-item">Users</a>
                    <a routerLink="/admin/books" class="dropdown-item">Books</a>
                </div>
            </li>
        </ul>
    </nav>
</header>